body{
    text-align:center;
    /* it also centralize the child contents to center not only the text */
}
div{
    border:4px solid black;
    height:100px;
    width:200px;
    display:inline-block;
 }

/* #id1,#id2,#id3,#id4,#id5{
    display : inline-block;
} */
 #container{
    /* display:inline-block; */
    /* margin:0 auto; */
    height:200px;
    width:600px;
    display:flex;
     flex-direction:row; 
    /* justify-content:flex-end; */
    /* justify-content:space-evenly; */
    /* align-items:center; */
    /* flex-wrap:wrap-reverse; */
    
 }
 #id1{
    background-color:aqua;
    /* display:flex;
    flex-direction:row-reverse; */
    /* always to remember : if we declare a element as a flex it will act as a container and the flex property will be applied on its content not on itself */
 }
 #id2{
    background-color:violet;
 }
 #id3{
    background-color:brown;
    align-self:flex-end;
 }
 #id4{
    background-color:yellowgreen;
    flex-shrink:6;
 }
 #id5{
    background-color:green;
 }
 
 
 
 