body{
    /* Alpha channel or opacity(0 to 1) */
    background-color:rgba(85, 82, 248,0.5);
}
#box{
    background-color:blue;
    color:white;
}
.heading{
    color:red;
}
button{
    background-color:green;
}

#id1{
    text-align:center;
    text-transform: capitalize;
    font-family:arial;
}
#outer{
    font-size:25px;
}
#inner{
    font-size:10px;
}

#id2{
    height:100px;
    width:100px;
    border-width:3px;
    border-style:dashed;
    border-radius:50%;
    background-color:green;
}

*{
    padding:0px;
    margin:0px;
}
#id3{
    background-color:#0f1111;
    height:60px;
    border-width:5px;
    border-style:solid;
    border-color:white;
    
}
#logo{
    font-size:25px;
    color:rgba(252, 165, 3, 0.747);
}
a{
    margin-right:200px;
    text-decoration:none;
    color:white;
}
#id4{
    background-color:rgba(252, 165, 3, 0.747);
}