/* Universal selector */
*{
    color:orange;
}

/* Element selector */
h1{
    color: green;
}

/* id selector */
#second {
    color:brown;
}

/* class selector */
.class1{
    color:blue;
}
p{
    color:red;
}
body{
 background-color:bisque;
}
/* button{color:red;background-color:darkgreen;} */