/* Universal selector */
*{
    color:orange;
}

/* Element selector */
h1{
    color: green;
    /* text aligner */
    text-align:center;
    /* line decoration */
    text-decoration:skyblue wavy underline;
    border-width:3px;
    border-style:dashed;
    height:50px;
    border-color:black;
    border-radius:10px;
}

/* font weight */
#first{
    font-weight:900;
}

a{
    text-decoration:none;
}

/* id selector */
#second {
    color:brown;
    /* font-weight */
    font-weight:100;
}

/* class selector */
.class1{
    color:blue;
    
}

/* font family */
.class2{
    font-family:Helvetica;
    /* font size */
    font-size:20px;
    /* text transform property */
    text-transform:capitalize;
}
p{
    color:red;
}
body{
 background-color:bisque;
}
/* button{color:red;background-color:darkgreen;} */

