*{
    margin:0px;
    font-family: 'Times New Roman';
    border: border-box;
}
body{
    background-color:rgb(205, 214, 221);
}
.navbar{
    height:60px;
    background-color:#014139;
    color:white;
    display:flex;
    align-items:center;
    /* justify-content:space-evenly; */
    /* margin:10px; */
    gap:30px;
}
/* box1 in navbar*/
.nav-logo{
    height:50px;
    width:113px;
    margin-left:20px;
    background-image:url("amazon-logo.webp");
    background-size:cover;
}

.border:hover{
    border: 2px solid white;
 }

 /* box 2 in navbar */
 .nav-addr{
    height:50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
 }
 .addr-1{
    color:#cccccc;
    font-size:0.85rem;
    margin-left:20px;
 }
.addr-icon{
    display:flex;
}

/* box3 in navbar */
.nav-search{
    display:flex;
    width:100%;
    height:40px;
}
.nav-search:hover{
    box-shadow: 0 4px 15px white;
}
.search-select{
    background-color:#c4c3c3;
    color:#858484;
    width:50px;
    font-size:0.8rem;
    text-align:center;
    border:none;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.search-input{
    width:100%;
    font-size:0.9rem;
    font-family:arial;
     border:none;
}
.search-icon{
    border:none;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    display:flex;
    justify-content:center;
    align-items:center;
    width:45px;
    background-color:rgb(161, 15, 88);
}

/* box4 and box5 in navbar */
.nav-sign{
    display:flex;
    height:50px;
    flex-direction:column;
    justify-content:center;
}
#p1{
    font-size:14px;
}
#p2{
    font-size:16px;
    font-weight:600;
    background-color:#014139;
    color:white;
    border:none;
}
.nav-return{
    height:50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

/* box6 in navbar */
.nav-cart{
    display:flex;
    height:50px;
    margin-right:20px;
    align-items:center;
}
.nav-cart i{
    font-size:30px;
}
.nav-cart p{
    position:relative;
    top:8px;
    font-weight:600;
}

/* panel */
.panel{
    display:flex;
    background-color:#005045;
    height:43px;
    align-items:center;
    
}
.panel-icon{
    display:flex;
    color:white;
    font-size:1.1rem;
    width:40px;
    justify-content:center;
    margin-left:20px;
}
.panel-icon p{
    font-size:0.9rem;
    font-weight:700;
}
.panel-option a{
    text-decoration:none;
    color:white;
    margin-left:6px;
    margin-right:7px;
}
.panel-option{
    margin-left:10px;
    width:100%;
}

/* hero section */
.hero-section{
    background-image:  url("hero_image1.jpg");
    mask-image: linear-gradient(to bottom, black 40%, transparent);
    height:600px;
    width:79%;
    background-size:cover;
    margin: 0 auto;
}

/* boxes */
.box-section1{
    position:absolute;
    top:370px;
    left: 50%;          
    transform: translateX(-50%);
    display:flex;
    width:79%;
    justify-content: space-evenly;
   
}
.row1{
    background-color:white;
    height:380px;
    width:22%;
    padding:20px 0px 15px;
}
/* box1 of row1 */
.box1 {
    padding-left:16px;
    padding-right:16px;
}
.box1 .image{
    height:70%;
    width:100%;
    background-image: 
        url("box_image11.jpg"),
        url("box_image12.jpg"),
        url("box_image13.jpg"),
        url("box_image14.jpg");
    background-size: 45% 45%, 45% 45%, 45% 45%, 45% 45%;
    background-repeat:no-repeat;
    background-position:
        left top,
        right top,
        left bottom,
        right bottom;
    margin-top:5px;
}
.box1 p{
    font-size:0.9rem;
    color:rgb(100, 99, 99);
}
.box1 a{
    position:relative;
    top:40px;
    text-decoration:none;
    color:rgb(38, 131, 168);
}
/* box2 of row1 */
.box2 {
    padding-left:16px;
    padding-right:16px;
}
.box2 .image{
    height:70%;
    width:100%;
    background-image: 
        url("box_image21.jpg"),
        url("box_image22.jpg"),
        url("box_image23.jpg"),
        url("box_image24.jpg");
    background-size: 45% 45%, 45% 45%, 45% 45%, 45% 45%;
    background-repeat:no-repeat;
    background-position:
        left top,
        right top,
        left bottom,
        right bottom;
    margin-top:5px;
}
.box2 p{
    font-size:0.9rem;
    color:rgb(100, 99, 99);
}
.box2 a{
    position:relative;
    top:40px;
    text-decoration:none;
    color:rgb(38, 131, 168);
}
/* box3 of row1 */
.box3 {
    padding-left:16px;
    padding-right:16px;
}
.box3 .image{
    height:70%;
    width:100%;
    background-image: 
        url("box_image31.jpg"),
        url("box_image32.jpg"),
        url("box_image33.jpg"),
        url("box_image34.jpg");
    background-size: 45% 45%, 45% 45%, 45% 45%, 45% 45%;
    background-repeat:no-repeat;
    background-position:
        left top,
        right top,
        left bottom,
        right bottom;
    margin-top:5px;
}
.box3 p{
    font-size:0.9rem;
    color:rgb(100, 99, 99);
}
.box3 a{
    position:relative;
    top:40px;
    text-decoration:none;
    color:rgb(38, 131, 168);
}
/* box 4 of row1 */
.box4 {
    padding-left:16px;
    padding-right:16px;
}
.box4 .image{
    height:80%;
    width:100%;
    background-image: url("box_image4.jpg");
    margin-top:5px;
}
.box4 p{
    font-size:0.9rem;
    color:rgb(100, 99, 99);
}
.box4 a{
    position:relative;
    top:20px;
    text-decoration:none;
    color:rgb(38, 131, 168);
}



