*{
    margin:0px;
    font-family: 'Times New Roman';
    border: border-box;
}
body{
    background-color:rgb(205, 214, 221);
}
.navbar{
    height:60px;
    background-color:#014139;
    color:white;
    display:flex;
    align-items:center;
    /* justify-content:space-evenly; */
    /* margin:10px; */
    gap:30px;
}
/* box1 in navbar*/
.nav-logo{
    height:50px;
    width:113px;
    margin-left:20px;
    background-image:url("amazon-logo.webp");
    background-size:cover;
}

.border:hover{
    border: 2px solid white;
 }

 /* box 2 in navbar */
 .nav-addr{
    height:50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
 }
 .addr-1{
    color:#cccccc;
    font-size:0.85rem;
    margin-left:20px;
 }
.addr-icon{
    display:flex;
}

/* box3 in navbar */
.nav-search{
    display:flex;
    width:100%;
    height:40px;
}
.nav-search:hover{
    box-shadow: 0 4px 15px white;
}
.search-select{
    background-color:#c4c3c3;
    color:#858484;
    width:50px;
    font-size:0.8rem;
    text-align:center;
    border:none;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.search-input{
    width:100%;
    font-size:0.9rem;
    font-family:arial;
     border:none;
}
.search-icon{
    border:none;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    display:flex;
    justify-content:center;
    align-items:center;
    width:45px;
    background-color:rgb(161, 15, 88);
}

/* box4 and box5 in navbar */
.nav-sign{
    display:flex;
    height:50px;
    flex-direction:column;
    justify-content:center;
}
#p1{
    font-size:14px;
}
#p2{
    font-size:16px;
    font-weight:600;
    background-color:#014139;
    color:white;
    border:none;
}
.nav-return{
    height:50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

/* box6 in navbar */
.nav-cart{
    display:flex;
    height:50px;
    margin-right:20px;
    align-items:center;
}
.nav-cart i{
    font-size:30px;
}
.nav-cart p{
    position:relative;
    top:8px;
    font-weight:600;
}

/* panel */
.panel{
    display:flex;
    background-color:#005045;
    height:43px;
    align-items:center;
    
}
.panel-icon{
    display:flex;
    color:white;
    font-size:1.1rem;
    width:40px;
    justify-content:center;
    margin-left:20px;
}
.panel-icon p{
    font-size:0.9rem;
    font-weight:700;
}
.panel-option a{
    text-decoration:none;
    color:white;
    margin-left:6px;
    margin-right:7px;
}
.panel-option{
    margin-left:10px;
    width:100%;
}

/* hero section */
.hero-section{
    background-image:  url("box_image.jpg");
    mask-image: linear-gradient(to bottom, black 40%, transparent);
    height:600px;
    width:79%;
    background-size:cover;
    margin: 0 auto;
}

/* boxes */
.box-section1{
    position:absolute;
    top:370px;
    left: 50%;          
    transform: translateX(-50%);
    display:flex;
    width:79%;
    justify-content: space-evenly;
   
}
.box-section1 .row1{
    background-color:white;
    height:380px;
    width:21%;
    padding:20px 0px 15px;
}
/* box1 of row1 */
.box-section1 .box1 {
    padding-left:16px;
    padding-right:16px;
}
.box-section1 .box1 .image{
    height:70%;
    width:100%;
    background-image: 
        url("box_image11.jpg"),
        url("box_image12.jpg"),
        url("box_image13.jpg"),
        url("box_image14.jpg");
    background-size: 45% 45%, 45% 45%, 45% 45%, 45% 45%;
    background-repeat:no-repeat;
    background-position:
        left top,
        right top,
        left bottom,
        right bottom;
    margin-top:5px;
}
.box-section1 .box1 p{
    font-size:0.9rem;
    color:rgb(100, 99, 99);
}
.box-section1 .box1 a{
    position:relative;
    top:40px;
    text-decoration:none;
    color:rgb(38, 131, 168);
}
/* box2 of row1 */
.box-section1 .box2 {
    padding-left:16px;
    padding-right:16px;
}
.box-section1 .box2 .image{
    height:70%;
    width:100%;
    background-image: 
        url("box_image21.jpg"),
        url("box_image22.jpg"),
        url("box_image23.jpg"),
        url("box_image24.jpg");
    background-size: 45% 45%, 45% 45%, 45% 45%, 45% 45%;
    background-repeat:no-repeat;
    background-position:
        left top,
        right top,
        left bottom,
        right bottom;
    margin-top:5px;
}
.box-section1 .box2 p{
    font-size:0.9rem;
    color:rgb(100, 99, 99);
}
.box-section1 .box2 a{
    position:relative;
    top:40px;
    text-decoration:none;
    color:rgb(38, 131, 168);
}
/* box3 of row1 */
.box-section1 .box3 {
    padding-left:16px;
    padding-right:16px;
}
.box-section1 .box3 .image{
    height:70%;
    width:100%;
    background-image: 
        url("box_image31.jpg"),
        url("box_image32.jpg"),
        url("box_image33.jpg"),
        url("box_image34.jpg");
    background-size: 45% 45%, 45% 45%, 45% 45%, 45% 45%;
    background-repeat:no-repeat;
    background-position:
        left top,
        right top,
        left bottom,
        right bottom;
    margin-top:5px;
}
.box-section1 .box3 p{
    font-size:0.9rem;
    color:rgb(100, 99, 99);
}
.box-section1 .box3 a{
    position:relative;
    top:40px;
    text-decoration:none;
    color:rgb(38, 131, 168);
}
/* box 4 of row1 */
.box-section1 .box4 {
    padding-left:16px;
    padding-right:16px;
}
.box-section1 .box4 .image{
    height:80%;
    width:100%;
    background-image: url("box_image4.jpg");
    margin-top:5px;
}
.box-section1 .box4 p{
    font-size:0.9rem;
    color:rgb(100, 99, 99);
}
.box-section1 .box4 a{
    position:relative;
    top:20px;
    text-decoration:none;
    color:rgb(38, 131, 168);
}

/* box-section2 */
.box-section2{
    position:absolute;
    top:805px;
    left: 50%;          
    transform: translateX(-50%);
    display:flex;
    width:79%;
    justify-content: space-evenly;
   
}
.box-section2 .row1{
    background-color:white;
    height:380px;
    width:21%;
    padding:20px 0px 15px;
}
/* box1 of row2 */
.box-section2 .box1 {
    padding-left:16px;
    padding-right:16px;
}
.box-section2 .box1 .image{
    height:70%;
    width:100%;
    background-image: 
        url("image11.jpg"),
        url("image12.jpg"),
        url("image13.jpg"),
        url("image14.jpg");
    background-size: 45% 45%, 45% 45%, 45% 45%, 45% 45%;
    background-repeat:no-repeat;
    background-position:
        left top,
        right top,
        left bottom,
        right bottom;
    margin-top:5px;
}
.box-section2 .box1 p{
    font-size:0.9rem;
    color:rgb(100, 99, 99);
}
.box-section2 .box1 a{
    position:relative;
    top:40px;
    text-decoration:none;
    color:rgb(38, 131, 168);
}
/* box2 of row2 */
.box-section2 .box2 {
    padding-left:16px;
    padding-right:16px;
}
.box-section2 .box2 .image{
    height:70%;
    width:100%;
    background-image: 
        url("image21.jpg"),
        url("image22.jpg"),
        url("image23.jpg"),
        url("image24.jpg");
    background-size: 45% 45%, 45% 45%, 45% 45%, 45% 45%;
    background-repeat:no-repeat;
    background-position:
        left top,
        right top,
        left bottom,
        right bottom;
    margin-top:5px;
}
.box-section2 .box2 p{
    font-size:0.9rem;
    color:rgb(100, 99, 99);
}
.box-section2 .box2 a{
    position:relative;
    top:40px;
    text-decoration:none;
    color:rgb(38, 131, 168);
}
/* box3 of row2 */
.box-section2 .box3 {
    padding-left:16px;
    padding-right:16px;
}
.box-section2 .box3 .image{
    height:80%;
    width:100%;
    background-image: url("image3.jpg");
    margin-top:5px;
}
.box-section2 .box3 p{
    font-size:0.9rem;
    color:rgb(100, 99, 99);
}
.box-section2 .box3 a{
    position:relative;
    top:20px;
    text-decoration:none;
    color:rgb(38, 131, 168);
}

/* box 4 of row2 */
.box-section2 .box4 {
    padding-left:16px;
    padding-right:16px;
}
.box-section2 .box4 .image{
    height:70%;
    width:100%;
    background-image: 
        url("image41.jpg"),
        url("image42.jpg"),
        url("image43.jpg"),
        url("image44.jpg");
    background-size: 45% 45%, 45% 45%, 45% 45%, 45% 45%;
    background-repeat:no-repeat;
    background-position:
        left top,
        right top,
        left bottom,
        right bottom;
    margin-top:5px;
}
.box-section2 .box4 p{
    font-size:0.9rem;
    color:rgb(100, 99, 99);
}
.box-section2 .box4 a{
    position:relative;
    top:40px;
    text-decoration:none;
    color:rgb(38, 131, 168);
}

/* box section 3 */
.box-section3{
    position:absolute;
    top:1240px;
    left: 50%;          
    transform: translateX(-50%);
    width:79%;
    padding:20px 0px 15px;
    background-color:white;
    height:240px;
    width:76%;
    padding:15px 0px 20px 15px;
}
.box-section3 .image{
   margin-top:7px;
   display:flex;
   background-image: 
        url("row1.jpg"),
        url("row2.jpg"),
        url("row3.jpg"),
        url("row4.jpg"),
        url("row5.jpg"),
        url("row6.jpg"),
        url("row7.jpg");
    background-size: contain, contain, contain, contain, contain, contain, contain;
     background-position:
        0% center,
        15% center,
        30% center,
        45% center,
        60% center,
        80% center,
        100% center;
    background-repeat: no-repeat;
    height:200px;
    width:100%;
        
}

/* footer */
footer .footer-sign {
    position: absolute;
    top:1538px;
    background-color:white;
    height:190px;
    width:100%;
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
}
footer .footer-sign h2{
    font-size:25px;
    font-family:arial;
}
footer .footer-sign p{
    font-size:0.8rem;
    margin-top:2px;
}
footer .footer-sign .base{
   padding-top:35px;
   padding-bottom:30px;
   border:1px solid rgb(209, 207, 207);
   border-radius:1%;
}
.footer-sign .base button{
    margin-top:5px;
    width:15%;
    height:32px;
    background-color:rgb(245, 214, 39);
    border-radius:20px;
    border:0px;
}

footer .footer-panel {
    position: absolute;
    top:1700px;
    background-color:#37475a;
    height:50px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
}

footer .footer-panel2{
    position:absolute;
    top:1750px;
    background-color:#222f3d;
    height:600px;
    width:100%;
    color:white;
    display:flex;
    font-family:arial;
    justify-content:center;
    
    
}

footer .footer-panel2 h3{
    font-size:18px;
    margin-bottom:17px;
    margin-top:50px;
}
footer .footer-panel2 ul{
    margin-left:40px;
    margin-right:40px;
}
footer .footer-panel2 a{
    text-decoration:none;
    color:rgb(204, 203, 203);
    display:block;
    margin-top:10px;
}



