.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 4fr 1fr;
    grid-template-areas: 
    "nav nav nav nav"
    "side main main main"
    "side left right right"
    "footer footer footer footer"
    ;
    height: 100vh;
}
nav{
    grid-area: nav;
    background:rgb(228, 151, 9);
}
main{
    grid-area: main;
    background:rgb(61, 192, 236);
}
#side{
    grid-area: side;
    background:rgb(14, 240, 14);
}
#left{
    grid-area: left;
    background:rgb(94, 21, 21);
}
#right{
    grid-area: right;
    background:rgb(238, 9, 9);
}
footer{
    grid-area: footer;
    background:rgb(76, 238, 111);
}