.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 4fr 1fr;
    grid-template-areas: 
    "nav nav nav nav"
    "side main main main"
    "side left right right"
    "footer footer footer footer"
    ;
    height: 100vh;
}
nav{
    grid-area: nav;
    background:orange;
}
main{
    grid-area: main;
    background:lightblue;
}
#side{
    grid-area: side;
    background:lightgreen;
}
#left{
    grid-area: left;
    background:lightcoral;
}
#right{
    grid-area: right;
    background:lightgray;
}
footer{
    grid-area: footer;
    background:lightpink;
}